.header{
  text-align: center;
  padding: $regular 0;
  @media (min-width: $tablet)  {
    text-align: left;
    padding: $regular;
  }
  @media (min-width: $desktop){
    max-width: $desktop-width;
    padding: ($regular * 2) 0;
    margin: 0 auto;
  }
}

.hero{
  @media (min-width: $tablet){
    .title{
      margin: 0;
    }
  }
  .title{
    margin-bottom: 0;
    b{
      color: $focus-color
    }
  }
  .regular-text{
    margin-top: $regular;
    text-align: center
  }
}

.hero-image{
  width: 100%;
  @media (min-width: $tablet){
    object-fit: cover;
  }
}

.hero-text-container{
  @media (min-width: $tablet){
    min-width: 65%;
    justify-content: center;
    padding: $mini * 1.5;
    background-image: url('../assets/bg-hero-squiggle.svg');
    background-size: contain;
  }
  @media (min-width: $desktop){
    max-width: $desktop-width;
  }
}

.icon{
  margin: $regular auto 0 auto;
  display: block;
}


