.header{
  justify-content: center;
  padding: $regular 0;
}

.hero{
  .title{
    margin-bottom: 0;
    padding: 0 $regular;
    b{
      color: $focus-color
    }
  }
  .regular-text{
    margin-top: $regular;
    text-align: center
  }
}

.hero-image{
  width: 110%
}

.hero-text-container{
  flex-direction: column;
  align-items: center;
}

.icon{
  margin-top: $regular;
}


