.header{
  text-align: center;
  padding: $regular 0;
  @media (min-width: $tablet)  {
    text-align: left;
    padding: $regular;
  }
  @media (min-width: $desktop){
    max-width: $desktop-width;
    padding: ($regular * 2) 0;
    margin: 0 auto;
  }
}

.hero{
  .title{
    margin-bottom: 0;
    b{
      color: $focus-color
    }
  }
  .regular-text{
    margin-top: $regular;
    text-align: center
  }
  @media (min-width: $tablet){
    .title{
      margin: 0;
    }
  }
}

.hero-image{
  width: 100%;
  @media (min-width: $tablet){
    object-fit: cover;
    flex: 0 1.5 auto;
  }
  @media (min-width: $desktop-limit){
    object-fit: contain;
  }
}

.hero-text-container{
  @media (min-width: $tablet){
    padding: $mini * 1.5;
    background-image: url('../assets/bg-hero-squiggle.svg');
    background-size: contain;
    flex: 0 1 auto;
  }
  @media (min-width: $desktop){
    max-width: $desktop - 100px;
  }
  @media (min-width: $desktop-limit){
   margin: auto 0;
   padding: 0 $mini * 1.5;
  }
}

.icon{
  margin: $regular auto 0 auto;
  display: block;
}


