//mixins
@mixin font-sizing($font-size, $line-size) {
  font-size: $font-size;
  line-height: $line-size;
  @if($font-size == $text) {
    font-weight: 300;
  } @else {
    font-weight: 800;
  }
}

@mixin card-style($text-color, $background-color){
  color: $text-color;
  background-color: $background-color;
}

//helpers

.display-flex{
  display: flex;
}

.globalpadding{
  padding: 0 ($mini * 1.5);
  @media (min-width: $tablet){
    padding: 0 $max;
  }
}

.regular-text{
  color: $secondary-font-color;
  margin: $regular 0;
}

.input{
  @include card-style($secondary-font-color, $constrast-background-color);
  padding: 0 10px;
  &:focus-visible{
    border: 1px solid $focus-color;
  }
}

.button{
  text-align: center;
  @include card-style($constrast-background-color, $focus-color);
  &:hover, &:active{
    border-color: $focus-color;
    background-color: $main-background-color;
    color: $font-color;
  }
}

.title{
  @include font-sizing($big-title, $big-title-line);
  margin: $regular 0;
  text-align: center;
}

.error{
  color: $error-color;
}

.onError{
  border: 1px solid $error-color;
  &:focus-visible{
    border: 1px solid $error-color;
  }
}