.hero{
  @media (min-width: $desktop-limit){
    max-height: 50vh;
  }
}

.page-section{
  margin-top: $regular * 3;
  @media (min-width: $tablet){
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  @media(min-width: $desktop){
    flex-direction: row;
    gap: $regular;
    min-height: 40vh;
  }
}

.item-container{
  flex-direction: column;
  align-items: center;
  margin-bottom: $regular * 1.5;
  &:last-child{
    margin-bottom: 0;
  }
  @media (min-width: $desktop){
    margin-bottom: 0;
  }
}

.plans-card {
  position: relative;
  padding: $mini * 1.5;
  margin-bottom: $regular * 2;
  @media (min-width: $tablet){
    width: $tablet-width;
  }
}

.form-wrap{
  padding-bottom: $max;
}

