.subtitle{
  @include font-sizing($min-title, $min-title-line);
  padding: $mini 0;
}

.item-container{
  .regular-text{
    text-align: center;
  }
}

.image-container{
  width: 130px;
  height: 130px;
  border-radius: $radius;
  background-color: $constrast-background-color;
  align-items: center;
  justify-content: center;
}

.image-passion{
  margin-inline-start: 10px;
}

.page-section{
  .title:first-child{
    @include font-sizing($regular-title, $regular-title-line);
    margin-top: 0;
    margin-bottom: $mini;
  }
  .regular-text{
    text-align: center;
  }
  .regular-text:nth-child(2n) {
    margin-bottom: $regular * 1.5;
  }

}

.plans-card{
  margin-bottom: $regular * 2;
  .title{
    text-align: justify;
  }
  .regular-text{
    text-align: justify;
  }
}

.free {
  background-color: $constrast-background-color;
  .regular-text{
    color: $font-color;
  }
  .filtered{
    filter: invert(88%) sepia(92%) saturate(5450%) hue-rotate(135deg) brightness(96%) contrast(90%);
  }
}

.paid-25{
  @include card-style($main-background-color, $focus-color);
  .plans-icon{
    top: -40px;
  }
  .regular-text{
    color: $main-background-color;
  }
}
