.subtitle{
  @include font-sizing($min-title, $min-title-line);
  padding: $mini 0;
}

.item-container{
  @media (min-width: $tablet){
    flex-direction: row;
    align-items: flex-start;
    width: 80%;
    &:nth-child(2n){
      align-self: flex-start;
    }
    &:nth-child(2n + 1){
      align-self: center;
    }
  }
}

.image-container{
  width: 130px;
  height: 130px;
  border-radius: $radius;
  background-color: $constrast-background-color;
  align-items: center;
  justify-content: center;
  @media (min-width: $tablet){
    margin-right: $regular * 1.5;
    height: 120px;
    width: 140px
  }
}

.image-passion{
  margin-inline-start: 10px;
}

.item-text-container {
  @media (min-width: $tablet){
    height: 100%;
    .regular-text{
      text-align: left !important;
    }
    .subtitle{
      text-align: left !important;
    }
  }
  .regular-text{
    text-align: center;
    margin: 0;
  }
  .subtitle{
    text-align: center;
  }
}

.page-section{
  .title:first-child{
    @include font-sizing($regular-title, $regular-title-line);
    margin-top: 0;
    margin-bottom: $mini;
    @media (min-width: $tablet){
      margin: 0;
    }
  }
}

.plans-section{
  .title {
    ~ {
      .regular-text{
      text-align: center;
      margin-bottom: $regular * 2;
      }
    }
  }
}

.plans-card{
  margin-bottom: $regular * 2;
  .title{
    text-align: justify;
  }
  .regular-text{
    text-align: justify;
  }
}

.free {
  background-color: $constrast-background-color;
  .regular-text{
    color: $font-color;
  }
  .filtered{
    filter: invert(88%) sepia(92%) saturate(5450%) hue-rotate(135deg) brightness(96%) contrast(90%);
  }
}

.paid-25{
  @include card-style($main-background-color, $focus-color);
  .plans-icon{
    top: -40px;
  }
  .regular-text{
    color: $main-background-color;
  }
}
