.item-container{
  @media (min-width: $tablet){
    flex-direction: row;
    align-items: flex-start;
    width: 80%;
    &:nth-child(2n){
      align-self: flex-start;
    }
    &:nth-child(2n + 1){
      align-self: center;
    }
  }

  @media (min-width: $desktop){
    flex-direction: column;
    &:nth-child(2n){
      align-self: center;
    }
    &:nth-child(2n + 1){
      align-self: flex-start;
    }
  }
}

.image-container{
  padding: 1rem;
  border-radius: 30px;
  flex-grow: 1;
  background-color: $constrast-background-color;
  @media (min-width: $tablet){
    margin-right: $regular * 1.5;
  }
  @media (min-width: $desktop){
    margin-right: 0;
  }
}

.image{
  object-fit: contain;
  width: 80px;
  height: 80px;
  @media (min-width: $desktop){
    width: 100px;
    height: 100px;
  }
}

.image-passion{
  object-position: right;
}

.item-text-container {
  @media (min-width: $tablet){
    height: 100%;
    .regular-text{
      text-align: left !important;
    }
    .subtitle{
      text-align: left !important;
      padding-top: 0;
    }
  }
  @media (min-width: $desktop){
    .subtitle{
      padding: $mini 0;
    }
  }
  .regular-text{
    text-align: center;
    margin: 0;
  }
  .subtitle{
    text-align: center;
  }
}

.title-transition{
  max-width: 600px;
  margin: $max auto auto;
  .title{
    @include font-sizing($regular-title, $regular-title-line);
    margin-top: 0;
  }
  .regular-text{
    text-align: center;
    padding: 0 $regular;
  }
  @media (min-width: $tablet){
    .regular-text{
      padding: 0;
    }
  }
}

.page-section{
  .title:first-child{
    @include font-sizing($regular-title, $regular-title-line);
    margin-top: 0;
    margin-bottom: $mini;
    @media (min-width: $tablet){
      margin: 0;
    }
  }
}

.plans-section{
  .title {
    ~ {
      .regular-text{
      text-align: center;
      margin-bottom: $regular * 2;
      }
    }
  }
}

.plans-card{
  border-radius: 5px;
  .title{
    text-align: justify;
  }
  .regular-text{
    text-align: justify;
  }
  .plans-icon{
    position: absolute;
    top: -20px;
  }
  em{
    position: absolute;
    top: 10px;
  }
}

.free {
  background-color: $constrast-background-color;
  .regular-text{
    color: $font-color;
  }
  .filtered{
    filter: invert(88%) sepia(92%) saturate(5450%) hue-rotate(135deg) brightness(96%) contrast(90%);
  }
}

.paid-25{
  @include card-style($main-background-color, $focus-color);
  .plans-icon{
    top: -40px;
  }
  .title{
    position: relative;
  }
  .regular-text{
    color: $main-background-color;
  }
}
