html {
  box-sizing: border-box;
  font-size: 1rem;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: $sans-serif;
  color: $font-color;
}

h1,h2,h3,h4,h5,h6{
  margin: 0
}

figure{
  margin: 0
}

p {
  @include font-sizing($text, $text-line);
  font-weight: 500;
  margin: 0
}

ul{
  margin: 0;
  padding: 0;
}

li{
  @include font-sizing($text, $text-line);
  list-style: none;
  font-weight: 500;
  padding-bottom: 5px;
  img{
    margin-right: 10px;
  }
}

form{
  padding: ($regular * 2) 0;
}

input, button{
  width: 100%;
  height: $regular * 1.25;
  border-radius: 50px;
  margin-top: $mini;
  border: 1px solid transparent;
  &:last-child{
    margin-bottom: $regular * 2;
  }
  &:focus{
    outline: none;
  }
}

input {
&::placeholder, &[type="button"]  {
  @include font-sizing($text, $text-line);
  font-weight: 600;
  }
}

